/* this is a comment */


section>.input-control-base,
section>form {
    flex: 1;
}

.label {
    font-size: 0.75em;
    color: gray;
    transition: all 0.2s ease-out;
    margin: 0 0 1px 5px;
    top: 2px;
    height:1em;
}

.text-box.empty > .label,
.select-box.empty > .label {
    color: transparent;
}

.input-control-base {
    display: flex;
    flex-direction: column;
    margin: 0;
    /* padding-top: 1em; */
    position: relative;
}
.input-control-base.checkbox {
    margin: 5px;
}

.empty > input[required],
.empty > select[required],
.empty > .collection-container.required {
    border-color: transparent;
    background-image: linear-gradient(90deg, var(--color-o), var(--color-f));
    background-repeat: no-repeat;
    background-size: 100% 1px;
    background-position: bottom;
}

section.spaced > * + * {
    margin-left: 10px;
}

.input-control-base input:focus-visible,
.input-control-base select:focus-visible,
.input-control-base textarea:focus-visible {
    border-color: var(--gray3);
}

.input-control-base.select-box > select {
    border-width: 1px;
    border-radius: 4px;
}

.number-input {
    text-align: right;
}

input[type="date"][value=""] {
    color: var(--gray4);

}

select {
    appearance: none;
    padding-right: 40px !important;
    background-image:
        linear-gradient(45deg, transparent 50%, var(--mint3) 50%),
        linear-gradient(135deg, var(--mint3) 50%, transparent 50%);
    background-position:
        calc(100% - 18px) calc(1em + 3px),
        calc(100% - 10px) calc(1em + 3px);
    background-size:
        8px 8px,
        8px 8px;
    background-repeat: no-repeat;
}
select:hover {
    background-image:
        linear-gradient(45deg, transparent 50%, var(--mint4) 50%),
        linear-gradient(135deg, var(--mint4) 50%, transparent 50%);
    background-position:
        calc(100% - 18px) calc(1em + 3px),
        calc(100% - 10px) calc(1em + 3px);
    background-size:
        8px 8px,
        8px 8px;
    background-repeat: no-repeat;
}
select:focus {
    background-image:
        linear-gradient(135deg, transparent 50%, var(--mint4) 50%),
        linear-gradient(45deg, var(--mint4) 50%, transparent 50%);
    background-position:
        calc(100% - 18px) calc(1em + 3px),
        calc(100% - 10px) calc(1em + 3px);
    background-size:
        8px 8px,
        8px 8px;
    background-repeat: no-repeat;
}

.hero > select {
    background-image: none;
}
.hero > select:hover {
    background-image: 
        linear-gradient(50deg, transparent 50%, var(--mint4) 50%),
        linear-gradient(130deg, var(--mint4) 50%, transparent 50%);
    background-position:
        calc(100% - 18px) calc(1em - 13px),
        calc(100% - 10px) calc(1em - 13px);
    background-size:
        8px 13px,
        8px 13px;
}
.hero > select:focus {
    background-image:
        linear-gradient(50deg, var(--mint4) 50%, transparent 50%),
        linear-gradient(130deg, transparent 50%, var(--mint4) 50%);
    background-position:
        calc(100% - 10px) calc(1em - 17px),
        calc(100% - 18px) calc(1em - 17px);
    background-size:
        8px 13px,
        8px 13px;
}

select[multiple] {
    background-image: none;
    padding: 0 !important;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-snap-align: center;
}

/* select[multiple]:-internal-list-box {
  } */

select[multiple]>option {
    padding: calc(1em - 3px);
}

select[multiple]>option:hover {
    background-color: var(--gray2);
    cursor: pointer;
}

select[multiple]>option~option {
    border-top: 1px solid var(--gray2);
}

select[multiple]>option:checked {
    background-color: var(--gray3);
    border: 1px solid var(--gray4);
}

select:-internal-list-box {
  white-space: wrap;
}

.empty > select {
    color: hsl(0, 0%, 80%);
    font-style: italic;
}

.input-control-base > input,
.input-control-base > select,
.input-control-base > textarea,
.input-control-base > .collection-container {
    width: 100%;
    border-style: solid;
    border-color: hsl(var(--edge-color));
    border-width: 0 0 1px 0;
    outline: none;
    font-size: 1em;
    padding: 10px 15px;
    background-color: hsl(0 0% 100% / 0.25);
}

.input-control-base input::placeholder,
.input-control-base textarea::placeholder {
    font-size: 0.9em;
}

.input-control-base:hover input:not(:focus-visible):not([readonly]),
.input-control-base:hover select:not(:focus-visible):not([readonly]),
.input-control-base:hover textarea:not(:focus-visible):not([readonly]) {
    border-color: var(--gray4);
    background-color: hsl(0 0% 100% / 0.5);
}

.input-control-base input,
.input-control-base select {
    height: 3em;
}
.input-control-base .collection-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 3em;
    padding: 1.5px;
}

.input-control-base.collection-box > select {
    border: none;
}

.collection-adder {
    flex: 1;
    border: none;
    outline: none;
    height: 2.5em !important;
    min-width: 4em;
    margin: 1.5px;
}

.node-wrapper {
    --node-color: var(--color-c3);
    display: flex;
    align-items: center;
    margin: 1.5px;
    padding: 0.5em 1em;
    border: 1px solid var(--node-color);
    border-radius: 5px;
    /* background: var(--node-color); */
    color: var(--node-color);
    outline: 1px solid color-mix(in oklab, transparent, var(--node-color));
    outline-offset: -3px;
    cursor: default;
}
.node-wrapper:hover{
    outline-color: var(--node-color);
}

.node-wrapper i {
    margin-left: 7px;
}

.node-wrapper.partial {
    opacity: 0.6;
}

.input-clear-button {
    position: absolute;
    right: 0.85em;
    top: 0.85em;
    font-size: 1.75em;
    color: var(--gray3);
    cursor: pointer;
    transition: color 0.2s ease;
}

.input-clear-button.show {
    color: var(--gray5);
}

.clearable-control {
    position: relative;
}

.clearable-control > input {
    border-width: 1px;
    border-color: var(--gray4);
    background: white;
}

.clearable {
    padding-right: 2.5em;
}

.input-control-base input.not-valid:not(:focus) {
    outline: 1px solid red;
    outline-offset: -2px;
}

.input-control-base textarea {
    padding: 10px;
}

.input-control-base input[readonly],
.input-control-base select[readonly],
.input-control-base textarea[readonly] {
    border-color: var(--gray3);
    outline: none;
    cursor: default;
    background-color: transparent;
    background-image: none;
    color: var(--gray6);
}

.sub-nav .input-control-base input,
.sub-nav .input-control-base select {
    background-color: transparent;
    border-color: var(--color-c1);
    color: white;
}
.sub-nav .input-control-base label {
    color: var(--color-c2)
}

.option-set {
    position: absolute;
    top: calc(100% + 1px);
    background: var(--gray1);
    z-index: 1;
    border-radius: 5px;
    overflow-y: scroll;
    box-shadow: var(--dd-shadow);
    max-height: calc(5.5 * var(--option-height));
}

.select-option {
    display: flex;
    align-items: center;
    font-size: 14px;
    overflow: hidden;
    transition: height 0.05s ease;
    border-width: 0;
    background: var(--gray0);
}

.select-option:hover {
    cursor: pointer;
    box-shadow: 0 0 50px -30px inset var(--hover-color)
}

.color-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.input-control-base.hero {
    margin: 20px 0;
    padding: 0;
}

.input-control-base.hero > input,
.input-control-base.hero > select {
    font-size: 2.5em;
    font-family: var(--brand-font);
    border: none;
    margin: 0;
    background-color: transparent;
    border-radius: 5px;
    height: 50px;
    transition: all 0.2s ease;
}
.input-control-base.hero > input {
    padding: 0;
}
.input-control-base.hero > select {
    padding: 0;
}

.input-control-base.hero > input:not([readonly]):hover,
.input-control-base.hero > select:not([readonly]):hover {
    background-color: var(--gray2);
}

.input-control-base.hero > input:not([readonly]):focus-visible,
.input-control-base.hero > select:not([readonly]):focus-visible {
    outline: none;
    background-color: white;
}

.input-control-base.hero > label {
    display: none;
}

.hero > input::placeholder {
    color: transparent;
}

.hero > input:hover::placeholder {
    font-style:normal;
    font-family:sans-serif;
    color: var(--gray5);

}

.input-control-base.tiny {
    height: auto;
}

.compact select {
    height: auto;
    padding: 7px;
    background-position:
        calc(100% - 11px) 0.95em,
        calc(100% - 5px) 0.95em,
        calc(100% - 23px) 0.5em;
    background-size:
        6px 6px,
        6px 6px,
        1px 1.25em;
}

.compact select:focus {
    background-position:
        calc(100% - 5px) 0.85em,
        calc(100% - 11px) 0.85em,
        calc(100% - 23px) 0.5em;
    outline: 0;
}

.tiny select {
    font-size: 0.65em;
    padding: 2px 5px;
    height: auto;
    border: none;
    background: var(--gray3);
}

.tiny .expanded .select-option {
    font-size: 0.65em;
    padding: 2px 5px;
    height: 15px;
}

.uncontrolled-text {
    border-radius: 5px;
    border: 1px solid var(--gray2);
    padding: 5px 10px;
    margin: 5px;
    height: 35px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--gray2);
    cursor: pointer;
}

div.dot.selected {
    background: var(--gray3);
}

i.dot.selected {
    color: var(--gray3);
}

.button-tray {
    display: flex;
    padding: 5px;
}
.button-tray > * {
    flex: 0;
}
.button-tray > * + * {
    margin-left: 5px;
}


.input-control-base.touched input:invalid,
.input-control-base.touched select:invalid {
    border: 1px solid red;
}

.checkbox {
    flex-direction: row;
    background: transparent;
    border: none;
    padding-top: 0;
}

.file-box label {
    display: flex;
    align-items: center;
    background: transparent;
    border: 1px solid var(--gray4);
    padding: 10px;
    cursor: pointer;
    user-select: none;
}
.file-box label:hover {
    background: var(--mint3);
    border-color: var(--mint5);
}
.file-box label:hover:active {
    border-color: var(--color-c2);
}

.file-box i {
    margin-right: 10px;
}

.file-box input {
    display: none;
}

.checkbox:not(.readonly) * {
    cursor: pointer;
}

.checkbox.checked i {
    color: hsl(120, 90%, 40%);
}

.checkbox.readonly {
    color: var(--gray4);
}

.checkbox i {
    font-size: 1.5em;
    margin-right: 5px;
    color: gray;
}

.checkbox input {
    display: none;
}

.checkbox label {
    display: flex;
    align-items: center;
    width: 100%;
    color: black;
}

.radio-buttons-set {
    position: relative;
    border-radius: 0.25em;
    overflow: hidden;
}

.radio-buttons-set.slider {
    display: flex;
    font-size: 40px;
    height: 1em;
}
.radio-buttons-set.slider .label{
    height: 100%;
    width: 100%;
    position: static;
}

.radio-option {
    margin: 5px 0;
}

.radio-option > input {
    display: none;
    margin: 0;
}

.radio-option > label {
    margin: 0;
}

.radio-option > label {
    display: flex;
    align-items: center;
}

.radio-option > input:checked ~ label > .radio-button {
    border-color: var(--gray3);
    background-image: radial-gradient(var(--gray3) 3px, transparent 2px)
}

.slider .radio-option {
    flex: 1;
    margin: 0;
}

.radio-button {
    cursor: pointer;
}

.radio-button.default {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    border: 1px solid var(--gray4);
    margin-right: 10px;
}

.radio-button.slider {
    width: 100%;
    height: 100%;;
}
.radio-button.slider:hover {
    background: var(--gray3);
}

.radio-slider {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: var(--gray5);
    color: var(--text1);
    font-size: 0.3em;
    transition: left 0.1s ease;
}

#dropdown-area {
    z-index: 200;
}

#dropdown-backing {
    position: absolute;
    height: 100%;
    width: 100%;
}

.check-button {
    width: 100%;
    height: 2em;
    border-radius: 3px;
    background: var(--gray2);
    box-shadow: 0 0 0 1px inset var(--gray4);
    overflow: hidden;
}

.check-button > div {
    height: 0%;
    width: 100%;
    background: var(--color-c2);
    transition: all 75ms ease;
}

.check-button.checked > div {
    height: 100%;
    width: 100%;
    box-shadow: 0 0 3px inset var(--color-c3);
}

.color-swatch-base {
    position: relative;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 0px inset hsl(var(--edge-color));
    border: 1px solid hsl(var(--edge-color));
    min-width: 32px;
    min-height: 32px;
    transition: all 0.2s ease;
}
.color-swatch-base:hover {
    box-shadow: 0 0 0 1px inset hsl(var(--edge-color));
}
.color-swatch-base:hover:active {
    box-shadow: 0 0 0 20px inset hsl(var(--edge-color));
}

.color-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    opacity: 0;
    cursor: pointer;
}
.color-input::-webkit-color-swatch,
.color-input::-moz-color-swatch {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 3px;
}
.color-input::-webkit-color-swatch-wrapper,
.color-input::-moz-focus-inner {
    border: none;
    padding: 0;
}

#popup-menu-wrapper {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.popup-children {
    position: absolute;
    box-shadow: 0 5px 10px -5px var(--gray4);
    max-height: 300px;
    overflow:scroll;
    z-index: 1000;
}
#popup-backing {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
