.weekday-headers-row {
    display: flex;
    background: var(--gray2);
    border-radius: 5px;
    margin-top: 10px;
}

.weekday-header {
    flex: 1;
    text-align: center;
    font-family: var(--brand-font);
    padding: 10px;
}

.schema-grid {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 10px 20px 0;
    overflow: hidden;
}

.schema-grid > .event-row {
    margin: 2px;
    border: 1px solid var(--gray4);
    border-radius: 7px;
    align-items: center;
}

.grid-column {
    flex: 1;
    min-width: 10em;
    margin: auto;
}

.schema-header {
    text-align: center;
    display: flex;
    justify-content: center;
}

.event-header {
    padding: 0 8px;
}

.event-row {
    display: flex;

}

.column-button {
    padding: 5px;
    margin: 3px;
    border-radius: 5px;
    overflow: hidden;
    background: var(--gray3);
    cursor: pointer;
}
.column-button:hover {
    background: var(--gray4);
}

.attendance-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.attendance-row {
    display: flex;
    border-bottom: 1px solid var(--gray3);
}

.attendance-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    background: var(--gray2);
}
.attendance-name + .attendance-header {
    border-top-left-radius: 0.5em;
}
.attendance-header:last-child {
    border-top-right-radius: 0.5em;
}

.attendance-name {
    flex: 2;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.radio-slider.Uncounted {
    background: hsl(0, 0%, 80%);
}
.radio-slider.Absent {
    background: hsl(0, 100%, 65%);
}
.radio-slider.Tardy {
    background: hsl(35, 100%, 65%);
}
.radio-slider.Excused {
    background: hsl(200, 70%, 65%)
}
.radio-slider.Present {
    background: var(--color-moss);
}

.calendar-control {
    margin-bottom: 10px;
}

.calendar-control > a {
    width: 35px;
}
.calendar-control > a:nth-child(3) {
    flex:1;
}

.calendar-control > a > button {
    flex: 1;
}

.calendar-control > a > button {
    height: 34px;
}