.profilePage {
    display: flex;
    width: 100%;
    overflow-y: scroll;
}

.dataSection {
    flex:1;
    min-height:450px;
}

.actionSection {
    min-height: 150px;
    background: hsl(0, 0%, 75%);
    box-shadow: 10px 0px 20px -15px inset hsl(0, 0%, 40%);
    padding: 20px;
}

.profileHeader {
    padding: 20px;
}

.profileDetails {
    display: flex;
}

.profileSegment {
    flex:1;
    padding: 20px;
}
.profileSegmentWide {
    flex:2;
    padding: 20px;
}

.profileSegment ~ .profileSegment,
.profileSegment ~ .profileSegmentWide {
    border-left: 1px solid var(--p-fill);
}