@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

html, body, #__next {
  height: 100%;
  width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --p-hue: 150;
  --p-sat: 60%;
  --p-lum: 45%;
  --p-alph: 50%;

  --color-p: hsl(150, 60%, 45%); /* primary color */
  --color-s: hsl(184, 37%, 15%); /* secondary color */
  --color-c1: #7ED9DE; /* light cyan */
  --color-c2: #38b0b8; /* mid cyan */
  --color-c3: #3E818E; /* dark cyan */
  --gradient-cyan: linear-gradient(var(--color-c1), var(--color-c2), var(--color-c3));
  --color-moss: #31B824;
  --color-cactus: #186B10;
  

  --text1: white;
  --text2: hsl(0, 0%, 11%);

  --brand-font: 'Calistoga', cursive;

  --g-hue: 150;
  --g-sat: 32%;

  --gray1: hsl(var(--g-hue), var(--g-sat), 98%);
  --gray2: hsl(var(--g-hue), var(--g-sat), 95%);
  --gray3: hsl(var(--g-hue), var(--g-sat), 90%);
  --gray4: hsl(var(--g-hue), var(--g-sat), 85%);
  --gray5: hsl(var(--g-hue), var(--g-sat), 70%);
  --gray6: hsl(var(--g-hue), var(--g-sat), 40%);
  --gray7: hsl(var(--g-hue), var(--g-sat), 25%);
  --gray8: hsl(var(--g-hue), var(--g-sat), 10%);

  --shadow1: 0px 2px 5px -1px hsl(0, 0%, 70%);
  --dd-shadow: 0px 10px 10px 0px hsla(0, 0%, 30%, 0.5);
  --option-height: 36px;
}

* {
  box-sizing: border-box;
  outline-color: var(--color-p);
}

i {
  font-family: 'Material Icons';
  font-style: normal;
  cursor: pointer;
}

i.big {
  font-size: 20px;
  color: var(--gray6);
  cursor: pointer;
}
i.big:hover {
  color: var(--gray5);
}
i.big:active {
  color: var(--color-p);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: flex;
  align-items: center;
  color: var(--gray6);
  text-decoration: none;
}

h1 {
  font-family: var(--brand-font);
  padding: 0 10px;
}

section {
  display: flex;
  flex-wrap: wrap;
}

article {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow: hidden;
}
article.scroll {
  overflow-y: scroll;
}

input, textarea {
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  min-height: 100px;
  resize: none;
}

input::placeholder,
textarea::placeholder 
{
  font-weight:100;
  font-style:italic;
  color: hsl(0, 0%, 75%);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--p-dark);
  box-shadow: inset 0 0 0px 2px white,
              inset 0 0 25px 10px hsla(var(--p-hue), var(--p-sat), var(--p-lum), 0.2);
  transition: background-color 5000s ease-in-out 0s, box-shadow 3s ease;
}

form {
  flex: 1;
}

button {
  flex: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  font-family: inherit;
  color: var(--text2);
  background: transparent;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 10px;
  white-space: nowrap;
  height: fit-content;
  --edge-color: var(--color-moss);
  box-shadow: 0 0 0 1px inset var(--edge-color);
  transition: box-shadow 0.1s ease;
}

button > i:first-child {
  margin-right: 10px;
}
button > i:last-child {
  margin-left: 10px;
}

button:hover {
  box-shadow: 0 0 0 2px inset var(--edge-color);
}
button:active {
  box-shadow: 0 0 0 30px inset var(--edge-color);
  color: var(--text1);
  /* color: var(--color-p); */
}

button.fat {
  font-size: 1.1em;
  padding: 20px;
}

a > button {
  flex: 1;
}

.fancy {
  font-family: var(--brand-font);
}

.action-section a:hover {
    color: var(--text1);
}

/* */


#app-body {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: var(--gray1)
}

.form-message {
  color: var(--color-p);
  font-style: italic;
  text-align: center;
  height: 2.4em;
  transition: height 0.2s ease;
  overflow: hidden;
}
.form-message:empty {
  height: 0em;
}
.form-message.error {
  color: red;
}
.form-message.warn {
  color: orange;
}

/* modules */

.module-page {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.grid {
  --grid-gap: 10px;
  --min-w: 250px;
  --min-h: 200px;
  flex:1;
  display: grid;
  list-style: none;
  column-gap: var(--grid-gap);
  row-gap: var(--grid-gap);
  grid-template-columns: repeat(auto-fill, minmax(var(--min-w), 1fr));
  grid-template-rows: repeat(auto-fill, var(--min-h));
  margin: 5px;
  height: 100%;
  overflow-y: scroll;
}

.card {

}

.profile {
  --grid-gap: 10px;
  --min-w: 400px;
  grid-auto-flow: column;
}

.grid-rows-2 {
  grid-row: span 2;
}

.grid-columns-2 {
  grid-column: span 2;
}


/************************* CUSTOM HTML TAGS *************************/

fast-grid {
  display: grid;
  width: 100%;
}


/************************* NAVBAR *************************/

#nav-base {
  position: relative;
  width: 40px;
  height: 100%;
}

.menu-header {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.app-logo {
  flex: 1;
  font-size: 32px;
  cursor: default;
}

.profile-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: goldenrod;
  height: 30px;
  width: 30px;
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid var(--primary);
  box-shadow: 0 0 0px 1px white;
  transition: box-shadow 0.1s;
  cursor: pointer;
  user-select:none;
}
.profile-button:hover {
  box-shadow: 0 0 0px 3px white;
}

.profile-icon {
  font-weight: 700;
}

.main-menu-panel {
  position: absolute;
  overflow: hidden;
  z-index: 10;
  background: var(--color-p);
  display:flex;
  flex-direction:column;
  height: 100%;
  width: 40px;
  color: white;
  transition: width 0.1s ease;
}
.main-menu-panel.expanded {
  width: 300px;
  box-shadow: var(--shadow1);
}

.menu-options {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex:1;
}

.menu-item {
  font-size: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  margin-top: 5px;
}

.fancy .menu-item i {
  margin: 10px
}

.menu-options .spacer {
  flex: 1;
}

.menu-item button {
  --b-alp: 0;
  margin:0;
  padding: 0 5px;
}

.menu-item:hover {
  background: white;
  color: var(--color-p);
  transition: all 0.1s;
}

.main-menu-panel.expanded .app-full-title {
  opacity: 1;
}

.app-full-title {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.user-menu {
  background: var(--p-fade);
}

.user-menu li {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 0;
  font-size: 1em;
  justify-content: right;
  white-space: nowrap;
}

.user-menu li i {
  margin-left: 10px;
  font-size: 1.25em;
}

.expanded .user-menu li {
  transition: height 0.2s ease;
  transition-delay: 0.2s;
  height: 40px;
  padding: 0 15px;
}



/************************* DRAG-N-DROP *************************/

.drop-container {
  --drop-h: 0;
  --drop-s: 0%;
  --drop-l: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 100%; */
  border-radius: 7px;
  transition: background-color 0.2s ease, height 0.2s ease;
  backdrop-filter: blur(2px);
}

.subdrop-wrapper {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.drop-container.hovered {
  color: hsl(var(--drop-h), var(--drop-s), var(--drop-l));
  /* background-color:  hsla(0, 0%, 100%, 50%); */
  background-image: radial-gradient(circle at top left, white 50px, hsla(0, 0%, 100%, 50%));
  border: 2px solid hsl(var(--drop-h), var(--drop-s), var(--drop-l));
}

.dc-name { display: none;}

.hovered .dc-name {
  display: block;
  font-size: 1.25em;
  font-weight: 700;
  text-shadow: 0 0 5px 15px white;
  margin: 10px;
}

[draggable="true"]:hover {
  cursor: all-scroll;
}

.collapsible {
  overflow: hidden;
  transition: all 0.2s ease;
}

.link-text {
  color: var(--color-p);
  cursor: pointer;
}

/* controls */

.btn {
  cursor: pointer;
}
.btn:hover:not(.disabled) {
  color: var(--color-p);
}
.btn.disabled {
  opacity: 0.25;
  cursor:not-allowed;
}

i.btn {
  font-size: 1.25em;
  padding: 5px;
}
i.btn.active {
  border-radius: 50%;
  background: var(--gray2);
  background-clip: content-box;
}

.icon-and-label {
  display: flex;
  align-items: center;
  border-width: 0.5px;
  color: inherit;
  justify-content: left;
}

fieldset {
  border: 1px solid var(--gray3);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  box-shadow: 0 0 20px -5px var(--gray3);
  background: var(--gray1);
  height: fit-content;
}

legend {
  color: var(--text2);
  font-weight: 700;
}

fieldset.card-set {
  overflow-y: scroll;
  flex: 1;
}

fieldset.buttons {
  display: flex;
  flex-direction: column;
  flex: none;
  border: none;
  padding: 0;
  margin: 10px 5px;
  box-shadow: none;
}

fieldset.buttons > legend {
  color: var(--gray7);
  font-weight: normal;
  margin-bottom: 3px;
  font-size: 0.8em;
}

fieldset.buttons > button {
  margin: 0;
  border-radius: 0;
  border-bottom-width: 0px;
}

fieldset.buttons > button:first-of-type {
  border-radius: 5px 5px 0 0;
}
fieldset.buttons > button:last-of-type {
  border-radius: 0 0 5px 5px;
  border-bottom-width: 1px;
}

.button-stack {
  display: flex;
  flex-direction: column;
}

.vform {
  width: 100%;
  flex: 1;
}

.status-icon {
  font-size: 1.5em;
  margin-top: 25px;
}

.submenu {
  position: relative;
}

.submenu .drop-down {
  position: absolute;
  right: 0%;
  border: 1px solid var(--gray4);
  box-shadow: var(--shadow1);
}

.menu-option {
  padding: 5px;
  background: var(--gray2);
  font-size: 0.75em;
  white-space: nowrap;
  max-width: 140px;
  min-width: 80px;
  overflow: hidden;
}
.menu-option ~ .menu-option {
  border-top: 1px solid var(--gray4);
}
.menu-option:hover {
  background: white;
}

.filter-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.filter-container > .filters {
  display: flex;
  flex-flow: row wrap;
}

.filter-buttons-set {
    display: flex;
    align-items: center;
    margin: 5px;
    align-items: flex-end;
}

.filter-button input {
    display: none;
}

.clear-button-container {
  display: flex;
  align-items: center;
  margin: 8px;
}

.filter-container-content {
  flex:1;
  display: grid;
  gap: 3px;
  --grid-columns: 1;
  --min-width: 1fr;
  grid-template-columns: repeat(var(--grid-columns), minmax(var(--min-width), 1fr));
  overflow-y: scroll;
}






.carousel-title {
  
}

.carousel-content {
  overflow: hidden;
  display:flex;
}

.card-tray {
  flex:1;
  position: relative;
}
.card-slider {
  position: absolute;
  width: 100%;
  transition: top 0.25s ease;
}

.carousel-control {
  width: 10px;
  display: flex;
  justify-content: space-around;
  font-size: 11px;
  margin:5px;
}

.carousel-control.vertical {
  flex-direction: column;
}

.contact-card {
  display:flex;
  flex-direction: column;
}



/************************* PROFILE CARDS *************************/

.card-container {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray4);
  width: auto;
  min-width: 200px;
  padding: 5px;
  margin:5px;
  background-color: white;
}
.card-container.clickable:hover {
  outline: 1px solid var(--color-p);
}

.clickable {
  cursor: pointer;
}

.card-container > * {
  margin: 5px;
}

.card-caption {
  flex: 1;
  margin-left: 10px;
}

.card-name {
  display: flex;
  font-weight: 700;
}

.card-subtitle {
  color: gray;
  font-style: italic;
}

.hero-icon {
  border-radius: 50%;
  background: var(--color-p);
  display: flex;
  align-items:center;
  justify-content:center;
  color: var(--text1);
}

.card-header {
  display: flex;
  align-items: center;
}

.card-controls {
  display: flex;
  justify-content: space-between;
}

.hero-icon.cold {
  background: gray;
}
.card-name.cold {
  color: gray;
}


/************************* TAB CONTROL *************************/

.tab-wrapper {
  flex:1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.tab-row {
  display: flex;
  border-bottom: 1px solid var(--gray3);
  padding: 10px 0;
}

.tab {

}

.tab-page {
  flex: 1;
  display: flex;
  overflow: hidden;
}
.tab-page.vert {
  flex-direction: column;
}

.tab-button {
  flex: 0 1 200px;
  color: var(--text2);
  text-align: center;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.2s ease;
  box-shadow: none;
  white-space: nowrap;
}
.tab-button:not(.active):hover {
  background: var(--gray3);
}
.accordion .tab-button {
  flex:none;
  box-shadow: none;
  border-top: 1px solid var(--color-c3);
  border-width: 1px 0 0 0;
  border-radius: 0;
  padding: 20px;
}
.accordion .tab-button.active {
  border-color: white;
  color: var(--text1);
  padding: 20px;
  font-size: 1.1em;
}


.tab-button ~ .tab-button {
  margin-left: 3px;
}

.tab-wrapper.large > .tab-row > .tab-button {
  padding: 10px 15px;
}

.normal .tab-button.active {
  box-shadow: 0 0 0px 1px inset var(--color-moss);
  color: var(--color-moss);
}
.normal .tab-button.active:hover {
  box-shadow: 0 0 0px 2px inset var(--color-moss);
}

.tab-wrapper.filters .tab-row {
  padding: 5px;
  background-image: none;
}

.filters .tab-button {
  border-radius: 20px;
  /* border: 2px solid transparent; */
  font-size: 0.8em;
  /* background: var(--gray4); */
  flex: 0 1;
  box-shadow: 0 0 0px 1px inset var(--gray3)
}

.filters .tab-button.active {
  background: white;
  box-shadow: 0 0 0px 1px inset var(--color-p);
  /* border-color: var(--color-p); */
}

.tab-wrapper.filters .tab-page {
  background: transparent;
  padding: 0;
}

.sub-nav .tab-button {
  color: var(--color-c2);
}
.sub-nav .tab-button:hover {
  color: var(--text2);
}

.sub-nav .tab-button.active:hover {
  color: var(--color-c1);
}

/************************* CALENDAR *************************/

.grid-calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(100px, auto));
  row-gap: 5px;
  column-gap: 5px;
  margin: 5px 0;
  flex: 1;
}

.cal-day {
  background: var(--gray1);
  border: 1px solid transparent;
  border-radius: 5px 15px 5px 5px;
  overflow: hidden;
  color: gray;
  box-shadow: 0 0 4px -2px gray;
}

.cal-day.current-month {
  background: white;
  color: var(--color-c2);
  font-weight: 700;
}
.cal-day.past {
  color: var(--gray4);
}

.cal-day:hover {
  border: 1px solid var(--color-c2);
}

.cal-day-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 9px;
  text-align: right;
}

.date-button {
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 1px;
  min-width: 1.5em;
}
.date-button:hover {
  border-color: var(--color-p);
  cursor: pointer;
}

.today .cal-day-header {
  background: var(--color-c2);
  color: white;
}
.today .date-button:hover {
  border-color: white;
}

.event-node {
  flex: 1;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  border-radius: 7px;
  padding: 5px 10px;
  margin: 1.5px 3px;
  font-size: 0.75em;
  cursor: pointer;
  --node-color: var(--color-p);
  border-color: var(--node-color);
  color: var(--node-color);
  transition: all 0.2s ease;
}
.event-node.model {
  font-size: 1em;
  padding: 10px;
}
.event-node:hover {
  box-shadow: 20px 0 0 -10px inset var(--node-color), -20px 0 0 -10px inset var(--node-color);
  padding-left: 15px;
  padding-right: 15px;
}

.sub-nav {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.nav-title {
  color: var(--text1);
  padding: 20px 20px 0 20px;
  font-size: 1.5em;
  font-family: var(--brand-font);
}

#tab-button {
  position: absolute;
  top: 10px;
  right: 100%;
  border-color: var(--gray4);
  border-style: solid;
  border-width: 1px 0 1px 1px;
  border-radius: 20px 0 0 20px;
  padding: 10px 5px 10px 10px;
  background: var(--gray4);
  cursor: pointer;
}

.day-button {
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 1px;
  width: 1.6em;
}

.day-button:hover {
  border: 1px solid;
}