@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

html, body, #__next {
  height: 100%;
  width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --p-hue: 150;
  --p-sat: 60%;
  --p-lum: 45%;
  --p-alph: 50%;

  --p-fill: hsl(var(--p-hue), var(--p-sat), var(--p-lum));
  --p-transparent: hsla(var(--p-hue), var(--p-sat), var(--p-lum), var(--p-alph));
  --p-tp2: hsla(var(--p-hue), var(--p-sat), var(--p-lum), 0.2);
  --p-fade: hsl(var(--p-hue), var(--p-sat), calc(var(--p-lum) * 0.75));
  --p-dark: hsl(var(--p-hue), var(--p-sat), calc(var(--p-lum) / 2));
  --p-text: white;
  --background: hsl(0, 0%, 93%);
  --brand-gradient: linear-gradient(60deg, var(--p-fade) 0px, var(--p-fill) 40%);

  --brand-font: 'Calistoga', cursive;

  --gray1: hsl(0, 0%, 98%);
  --gray2: hsl(0, 0%, 95%);
  --gray3: hsl(0, 0%, 90%);
  --gray4: hsl(0, 0%, 85%);
  --gray5: hsl(0, 0%, 70%);
  --gray6: hsl(0, 0%, 40%);
  --gray7: hsl(0, 0%, 25%);
  --gray8: hsl(0, 0%, 10%);

  --shadow1: 0px 2px 5px -1px hsl(0, 0%, 70%);
  --dd-shadow: 0px 10px 10px 0px hsla(0, 0%, 30%, 0.5);
}

* {
  box-sizing: border-box;
  outline-color: var(--p-fill);
}

i {
  font-family: 'Material Icons';
  font-style: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--gray6);
}
a:hover {
  text-decoration: underline;
}

input, textarea {
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  min-height: 100px;
  resize: none;
}

select {
  appearance: none;
  padding-right: 40px !important;
}

select:-internal-list-box {
  white-space: wrap;
}

input::placeholder,
textarea::placeholder 
{
  font-weight:100;
  font-style:italic;
  color: hsl(0, 0%, 75%);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--p-dark);
  box-shadow: inset 0 0 0px 2px white,
              inset 0 0 25px 10px hsla(var(--p-hue), var(--p-sat), var(--p-lum), 0.2);
  transition: background-color 5000s ease-in-out 0s, box-shadow 3s ease;
}

form {
  flex: 1;
}

.fancy {
  font-family: var(--brand-font);
}

/* */


.app-body {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: var(--gray1)
}

.form-message {
  color: var(--p-fill);
  font-style: italic;
  text-align: center;
  height: 2.4em;
  transition: height 0.2s ease;
  overflow: hidden;
}
.form-message:empty {
  height: 0em;
}
.form-message.error {
  color: red;
}
.form-message.warn {
  color: orange;
}

/* modules */

.module-page {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.grid {
  --grid-gap: 10px;
  --min-w: 250px;
  --min-h: 200px;
  flex:1;
  display: grid;
  list-style: none;
  column-gap: var(--grid-gap);
  row-gap: var(--grid-gap);
  grid-template-columns: repeat(auto-fill, minmax(var(--min-w), 1fr));
  grid-template-rows: repeat(auto-fill, var(--min-h));
  margin: 5px;
}

.card {

}

.profile {
  --grid-gap: 10px;
  --min-w: 400px;
  grid-auto-flow: column;
}

.grid-rows-2 {
  grid-row: span 2;
}

.grid-columns-2 {
  grid-column: span 2;
}


/************************* CUSTOM HTML TAGS *************************/

fast-grid {
  display: grid;
  width: 100%;
}


/************************* NAVBAR *************************/

#nav-base {
  position: relative;
  width: 40px;
  height: 100%;
}

.menu-header {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.app-logo {
  flex: 1;
  font-size: 32px;
  cursor: default;
}

.profile-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: goldenrod;
  height: 30px;
  width: 30px;
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid var(--primary);
  box-shadow: 0 0 0px 1px white;
  transition: box-shadow 0.1s;
  cursor: pointer;
  user-select:none;
}
.profile-button:hover {
  box-shadow: 0 0 0px 3px white;
}

.profile-icon {
  font-weight: 700;
}

.main-menu-panel {
  position: absolute;
  overflow: hidden;
  z-index: 10;
  background: var(--p-fill);
  display:flex;
  flex-direction:column;
  height: 100%;
  width: 40px;
  color: white;
  transition: width 0.1s ease;
}
.main-menu-panel.expanded {
  width: 250px;
  box-shadow: var(--shadow1);
}

.menu-options {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex:1;
}

.menu-item {
  font-size: 20px;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  margin-top: 5px;
}

.menu-options .spacer {
  flex: 1;
}

.menu-item button {
  --b-alp: 0;
  margin:0;
  padding: 0 5px;
}

.menu-item:hover {
  background: white;
  color: var(--p-fill);
  transition: all 0.1s;
}

.main-menu-panel.expanded .app-full-title {
  opacity: 1;
}

.app-full-title {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.user-menu {
  background: var(--p-fade);
}

.user-menu li {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 0;
  font-size: 1em;
  justify-content: right;
  white-space: nowrap;
}

.user-menu li i {
  margin-left: 10px;
  font-size: 1.25em;
}

.expanded .user-menu li {
  transition: height 0.2s ease;
  transition-delay: 0.2s;
  height: 40px;
  padding: 0 15px;
}



/************************* DRAG-N-DROP *************************/

.drop-container {
  --drop-h: 0;
  --drop-s: 0%;
  --drop-l: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 100%; */
  border-radius: 7px;
  transition: background-color 0.2s ease, height 0.2s ease;
  backdrop-filter: blur(2px);
}

.subdrop-wrapper {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.drop-container.hovered {
  color: hsl(var(--drop-h), var(--drop-s), var(--drop-l));
  /* background-color:  hsla(0, 0%, 100%, 50%); */
  background-image: radial-gradient(circle at top left, white 50px, hsla(0, 0%, 100%, 50%));
  border: 2px solid hsl(var(--drop-h), var(--drop-s), var(--drop-l));
}

.dc-name { display: none;}

.hovered .dc-name {
  display: block;
  font-size: 1.25em;
  font-weight: 700;
  text-shadow: 0 0 5px 15px white;
  margin: 10px;
}

[draggable="true"]:hover {
  cursor: all-scroll;
}

.collapsible {
  overflow: hidden;
  transition: height 0.2s ease, width 0.2s ease, min-width 0.2s ease;
}

.link-text {
  color: var(--p-fill);
  cursor: pointer;
}

/* controls */

.btn {
  cursor: pointer;
}
.btn:hover:not(.disabled) {
  color: var(--p-fill);
}
.btn.disabled {
  opacity: 0.25;
  cursor:not-allowed;
}

i.btn {
  font-size: 1.25em;
  padding: 5px;
}
i.btn.active {
  border-radius: 50%;
  background: var(--gray2);
  background-clip: content-box;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  --b-hue: 0;
  --b-sat: 0%;
  --b-lum: 90%;
  --b-alp: 1;
  background: hsla(var(--b-hue), var(--b-sat), var(--b-lum), var(--b-alp));
  border-style: solid;
  border-radius: 5px;
  flex: 0;
  margin: 5px;
  padding: 4px 8px;
  white-space: nowrap;
}

button > * {
  margin-right: 10px;
}

button:hover {
  background: hsla(var(--b-hue), var(--b-sat), calc(var(--b-lum) * 1.2), var(--b-alp)) !important;
}

button.fat {
  font-size: 1.1em;
  padding: 8px;
}

.modal-buttons {
  display: flex;
  height: 50px;
}

.modal-buttons > button {
  flex: 1;
  border: none;
  border-radius: 0;
  padding: 10px;
  --b-alp: 0.75;
  margin: 0;
}

.modal-buttons > button ~ button {
  margin-left: 1px;
}

button.hero,
.modal-buttons > button[name="submit"] {
  color: var(--p-text);
  --b-hue: var(--p-hue);
  --b-sat: var(--p-sat);
  --b-lum: var(--p-lum);
  border-color: var(--p-fill);
}

button.icon-and-label {
  display: flex;
  align-items: center;
  border: none;
  color: inherit;
  justify-content: left;
}

fieldset {
  flex: 1;
  border: 1px solid var(--gray3);
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 20px -5px var(--gray3)
}

legend {
  color: var(--p-fill);
  font-weight: 700;
}

fieldset.card-set {
  overflow-y: scroll;
  margin: 10px 5px;
}



section {
  display: flex;
  flex-wrap: wrap;
}

article {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow-y: scroll;
}

.padded {
  padding: 5px;
}

.button-stack {
  display: flex;
  flex-direction: column;
}

.vform {
  width: 100%;
  flex: 1;
}

.status-icon {
  font-size: 1.5em;
  margin-top: 25px;
}

.submenu {
  position: relative;
}

.submenu .drop-down {
  position: absolute;
  right: 0%;
  border: 1px solid var(--gray4);
  box-shadow: var(--shadow1);
}

.menu-option {
  padding: 5px;
  background: var(--gray2);
  font-size: 0.75em;
  white-space: nowrap;
  max-width: 140px;
  min-width: 80px;
  overflow: hidden;
}
.menu-option ~ .menu-option {
  border-top: 1px solid var(--gray4);
}
.menu-option:hover {
  background: white;
}

/************************* MODALS *************************/

.modal-base {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
}

.modal-body {
  margin: auto;
  min-width: 25%;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.5);
  border-radius: 7px;
  overflow: hidden;
  z-index: 1;
  transition: margin 0.1s ease;
}

.modal-body.min {
  min-width: unset;
  margin: auto 0 0 auto;
  border-radius: 7px 0 0 0;
}

.modal-message {
  margin: 10px;
  max-width: 30em;
}

.modal-fields {
  background: var(--background);
  padding: 10px 20px;
}

.loading {
  width: 100%;
  height: 100%;
  background: var(--p-fill);
  border-radius: 7px;
  color: var(--p-text);
  font-size: 1.25em;
  padding: 20px;
  transition: font-size 0.1s ease, padding 0.1s ease;
}

.min > .loading {
  border-radius: 7px 0 0 0;
  font-size: 1em;
  padding: 10px;
}


/************************* INPUT CONTROLS *************************/

section > .input-control-base,
section > form {
  flex: 1;
}

.label {
  font-size:0.75em;
  color: gray;
  transition: all 0.2s ease-out;
  margin: 5px 10px 2px;
}

.label.hide {
  color: transparent;
}

.input-control-base {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.input-control-base input:focus-visible,
.input-control-base select:focus-visible,
.input-control-base textarea:focus-visible {
  border-color: var(--p-fill);
}

.input-control-base.hero input {
  background: transparent;
  border: none;
}

.select-box {
  display: flex;
  --option-height: 36px;
}

.number-input {
  text-align: right;
}

input[type="date"][value=""] {
  color: var(--gray4);
  
}

select {
  background-image:
    linear-gradient(45deg, transparent 50%, var(--gray5) 50%),
    linear-gradient(135deg, var(--gray5) 50%, transparent 50%),
    linear-gradient(to right, var(--gray5), var(--gray5));
  background-position:
    calc(100% - 20px) calc(1em + 3px),
    calc(100% - 12px) calc(1em + 3px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    8px 8px,
    8px 8px,
    1px 1.9em;
  background-repeat: no-repeat;
}

select:focus {
  background-image:
    linear-gradient(45deg, var(--p-fill) 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, var(--p-fill) 50%),
    linear-gradient(to right, var(--gray5), var(--gray5));
  background-position:
    calc(100% - 12px) calc(1em + 2px),
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  outline: 0;
}

select[multiple] {
  background-image: none;
  padding: 0 !important;
  overflow-y:scroll;
  scroll-snap-type: y mandatory;
  scroll-snap-align: center;
}

/* select[multiple]:-internal-list-box {
} */

select[multiple] > option {
  padding: calc(1em - 3px);
}
select[multiple] > option:hover {
  background-color: var(--gray2);
  cursor: pointer;
}

select[multiple] > option ~ option {
  border-top: 1px solid var(--gray2);
}

select[multiple] > option:checked,
.select-option.selected {
  background-color: var(--p-tp2);
  color: var(--p-fill);
  border: 1px solid var(--p-fill);
}

.input-control-base input,
.input-control-base select,
.input-control-base textarea {
  width: 100%;
  border: 1px solid var(--gray3);
  outline: none;
  font-size: 16px;
  padding: 10px 15px;
  background-color: white;
  border-radius: 3px;
}

.input-control-base input::placeholder,
.input-control-base textarea::placeholder {
  font-size: 0.9em;
}

.input-control-base:hover input:not(:focus-visible):not([readonly]),
.input-control-base:hover select:not(:focus-visible):not([readonly]),
.input-control-base:hover textarea:not(:focus-visible):not([readonly]) {
  border-color: var(--gray4);
}

.input-control-base input,
.input-control-base select {
  height: 3em;
}

.input-control-base textarea {
  padding: 10px;
  min-height: 10em;
}

.input-control-base input[readonly],
.input-control-base select[readonly],
.input-control-base textarea[readonly] {
  border-color: var(--gray3);
  outline: none;
  cursor: default;
  background-color: transparent;
  background-image: none;
  color: var(--gray6);
}

.option-set {
  position: absolute;
  top: calc(100% + 1px);
  background: var(--gray1);
  z-index: 1;
  border-radius: 5px;
  overflow-y: scroll;
  box-shadow: var(--dd-shadow);
  max-height: calc(5 * var(--option-height));
}

.select-option {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  overflow: hidden;
  transition: height 0.05s ease;
  border-width: 0;
  height: var(--option-height);
}
.select-option:hover {
  background: var(--gray2);
  cursor: pointer;
}

.select-option > .color-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  border: 1px solid white;
}

.input-control-base.hero > input {
  font-size: 24px;
  font-family: var(--brand-font);
  color: var(--p-fill);
  padding: 20px;
  border: none;
  margin: 0;
  background-color: transparent;
}

.input-control-base.hero > input:not([readonly]):hover {
  background: var(--gray2);
}

.input-control-base.hero > input:not([readonly]):focus-visible {
  outline: none;
  background: white;
}
.input-control-base.hero > label {
  display: none;
}

.input-control-base.tiny {
  height: auto;
}

.tiny input {
  font-size: 0.65em;
  padding: 2px 5px;
  height: auto;
  border: none;
  background: var(--gray3);
}

.tiny .expanded .select-option {
  font-size: 0.65em;
  padding: 2px 5px;
  height: 15px;
}

.uncontrolled-text {
  border-radius: 5px;
  border: 1px solid var(--gray2);
  padding: 5px 10px;
  margin: 5px;
  height: 35px;
}

.carousel-title {

}

.carousel-content {
  overflow: hidden;
  display:flex;
}

.card-tray {
  flex:1;
  position: relative;
}
.card-slider {
  position: absolute;
  width: 100%;
  transition: top 0.25s ease;
}

.carousel-control {
  width: 10px;
  display: flex;
  justify-content: space-around;
  font-size: 11px;
  margin:5px;
}

.carousel-control.vertical {
  flex-direction: column;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--gray2);
  cursor: pointer;
}
div.dot.selected {
  background: var(--p-fill);
}
i.dot.selected {
  color: var(--p-fill);
}

.contact-card {
  display:flex;
  flex-direction: column;
}

.button-tray {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.input-control-base.touched input:invalid {
  border: 1px solid red;
}

.checkbox {
  flex-direction: row;
  background: transparent;
  border: none;
}

.file-box label {
  background: transparent;
  border: 1px solid var(--gray4);
  padding: 10px;
  cursor: pointer;
}

.file-box input {
  display: none;
}

.checkbox:not(.readonly) * {
  cursor: pointer;
}

.checkbox.checked i {
  color: hsl(120, 90%, 40%);
}
.checkbox.readonly {
  color: var(--gray4);
}

.checkbox i {
  font-size: 1.5em;
  color: gray;
}

.checkbox input {
  display: none;
}

.checkbox label {
  left: 2em;
  margin: 5px 10px;
  color: black;
}

#dropdown-area {
  z-index: 200;
}

#dropdown-backing {
  position: absolute;
  height: 100%;
  width: 100%;
}

fieldset.buttons {
  display: flex;
  flex-direction: column;
  flex: none;
  border: none;
  padding: 0;
  margin: 10px 5px;
  box-shadow: none;
}

fieldset.buttons > legend {
  color: var(--gray7);
  font-weight: normal;
  margin-bottom: 3px;
  font-size: 0.8em;
}

fieldset.buttons > button {
  margin: 0;
  border-radius: 0;
  border-bottom: 1px solid var(--gray5);
}

fieldset.buttons > button:first-of-type {
  border-radius: 5px 5px 0 0;
}
fieldset.buttons > button:last-of-type {
  border-radius: 0 0 5px 5px;
  border-bottom: none;
}


/************************* PROFILE CARDS *************************/

.card-container {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  width: auto;
  padding: 5px;
  margin:5px;
  box-shadow: 0px 2px 5px hsla(0, 0%, 0%, 0.1);
  background-color: white;
}
.card-container.clickable:hover {
  outline: 1px solid var(--p-fill);
}

.clickable {
  cursor: pointer;
}

.card-container > * {
  margin: 5px;
}

.card-caption {
  margin-left: 10px;
}

.card-name {
  display: flex;
  font-size: 16px;
  font-weight: 700;
}

.card-subtitle {
  color: gray;
  font-style: italic;
}

.hero-icon {
  border-radius: 50%;
  background: var(--p-fill);
  display: flex;
  align-items:center;
  justify-content:center;
  color: var(--p-text);
}

.card-header {
  display: flex;
  align-items: center;
}

.card-controls {
  display: flex;
  justify-content: space-between;
}

.hero-icon.cold {
  background: gray;
}
.card-name.cold {
  color: gray;
}


/************************* TAB CONTROL *************************/

.tab-wrapper {
  flex:1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.tab-row {
  display: flex;
  border-bottom: 1px solid var(--gray3);
  padding: 10px 0;
}

.tab {

}

.tab-page {
  flex: 1;
  display: flex;
  /* background: white; */
  padding: 5px;
  overflow: hidden;
}
.tab-page.vert {
  flex-direction: column;
}

.tab-button {
  flex: 0 1 200px;
  color: var(--gray6);
  text-align: center;
  padding: 5px 10px;
  margin-right: 3px;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.2s ease;
}
.tab-button:not(.active):hover {
  background: var(--gray3);
}

.tab-wrapper.large > .tab-row > .tab-button {
  padding: 10px 15px;
}

.tab-button.active {
  box-shadow: 0 0 0px 1px inset var(--p-fill);
  color: var(--p-fill);
}
.tab-button.active:hover {
  box-shadow: 0 0 0px 2px inset var(--p-fill);
}

.tab-wrapper.filters .tab-row {
  padding: 5px;
  background-image: none;
}

.tab-wrapper.filters .tab-button {
  border-radius: 20px;
  border: 2px solid transparent;
  font-size: 0.8em;
  background: var(--gray4);
}

.tab-wrapper.filters .tab-button.active {
  background: white;
  border-color: var(--p-fill);
}

.tab-wrapper.filters .tab-page {
  background: transparent;
  padding: 0;
}


/************************* CALENDAR *************************/

.grid-calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(100px, auto));
  row-gap: 5px;
  column-gap: 5px;
  margin: 5px 0;
  flex: 1;
}

.cal-day {
  background: var(--gray2);
  border: 1px solid transparent;
  border-radius: 5px 15px 5px 5px;
  overflow: hidden;
  color: gray;
  box-shadow: 0 0 4px -2px gray;
}

.cal-day.current-month {
  background: white;
  color: var(--p-fill);
  font-weight: 700;
}
.cal-day.past {
  color: var(--gray4);
}

.cal-day:hover {
  border: 1px solid var(--p-fill);
}

.cal-day-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 9px;
  text-align: right;
}

.date-button {
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 1px;
  min-width: 1.5em;
}
.date-button:hover {
  border-color: var(--p-fill);
  cursor: pointer;
}

.today .cal-day-header {
  background: var(--p-fill);
  color: white;
}
.today .date-button:hover {
  border-color: white;
}

.event-node {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  border-radius: 7px;
  padding: 3px 5px;
  margin: 1.5px 3px;
  font-size: 0.75em;
}
.event-node:hover {
  cursor: pointer;

}