@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Calistoga&family=Comfortaa&family=Montserrat:wght@400&family=Poppins:wght@400&family=Quicksand:wght@300;600&family=Shrikhand&display=swap');

html, body, #__next {
  height: 100%;
  width: 100%;
}

/* *:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
} */

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-p: 150 60% 45%; /* primary color */
  --color-s: 184 37% 15%; /* secondary color */
  --color-o: lch(73 74.58 62.82); /* contrast color */
  --color-f: lch(46 73.56 7.6);
  --color-c1: #7ED9DE; /* light cyan */
  --color-c2: #38b0b8; /* mid cyan */
  --color-c3: #3E818E; /* dark cyan */
  --color-h1: 184 59% 68%;
  --color-h2: 184 53% 47%;
  --color-h3: 190 39% 40%;
  --gradient-cyan: linear-gradient(var(--color-c1), var(--color-c2), var(--color-c3));
  --color-moss: #31B824;
  --color-cactus: 115 74% 24%;
  

  --text1: white;
  --text2: hsl(0, 0%, 11%);

  --brand-font: 'Comfortaa', sans-serif;

  --grayx: 0 0%;

  --gray0: hsl(var(--grayx) 100%);
  --gray1: hsl(var(--grayx) 98%);
  --gray2: hsl(var(--grayx) 95%);
  --gray3: hsl(var(--grayx) 90%);
  --gray4: hsl(var(--grayx) 85%);
  --gray5: hsl(var(--grayx) 70%);
  --gray6: hsl(var(--grayx) 40%);
  --gray7: hsl(var(--grayx) 25%);
  --gray8: hsl(var(--grayx) 10%);
  --gray9: hsl(var(--grayx) 0%);

  --mintx: 150 32%;

  --mint1: hsl(var(--mintx) 98%);
  --mint2: hsl(var(--mintx) 95%);
  --mint3: hsl(var(--mintx) 90%);
  --mint4: hsl(var(--mintx) 85%);
  --mint5: hsl(var(--mintx) 70%);
  --mint6: hsl(var(--mintx) 60%);
  --mint7: hsl(var(--mintx) 55%);
  --mint8: hsl(var(--mintx) 40%);
  --mint9: hsl(var(--mintx) 25%);

  --cyanx: 0;

  --shadow1: 0px 2px 5px -1px hsl(0, 0%, 70%);
  --dd-shadow: 0px 10px 10px 0px hsla(0, 0%, 30%, 0.5);
  --option-height: 36px;
}

* {
  box-sizing: border-box;
  outline-color: hsl(var(--color-p));
}

*::-webkit-scrollbar {
  display: none;
}


/* h1 { font-size: 2em; font-weight: 700; } */
h1 { 
  font-size: 2em; 
  font-weight: 700; 
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

i {
  font-family: 'Material Icons';
  font-style: normal;
  cursor: pointer;
}

i.big {
  font-size: 20px;
  color: var(--gray6);
  cursor: pointer;
}
i.big:hover {
  color: hsl(var(--edge-color));
}
i.big:active {
  color: hsl(var(--color-p));
}
i.naked:not(:hover) {
  border: none;
  box-shadow: none;
}

a {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

ol {
  list-style-type: decimal;
}
ol > ol {
  list-style-type: lower-alpha;
}
ol > ol > ol {
  list-style-type: lower-roman;
}
ol > ol > ol > ol {
  list-style-type: upper-alpha;
}

section {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

section.center {
  flex: 1;
  align-items: center;
}

section.scroll {
  overflow-x: scroll;

}

section.inputs > * + *{
  margin-left: 10px
}

article {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow: hidden;
}
article.scroll {
  overflow-y: scroll;
}
article.scroll.column {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  grid-gap: 5px;
}
article.scroll.grid {
  display: grid;
  grid-template-columns: repeat( auto-fill ,minmax(var(--min-width),1fr));
  grid-auto-rows: min-content;
  grid-gap: 5px;
}

input, textarea {
  color: inherit;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  min-height: 100px;
  resize: none;
}

input::placeholder,
textarea::placeholder 
{
  font-weight:100;
  font-style:italic;
  color: hsl(0, 0%, 75%);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--p-dark);
  box-shadow: inset 0 0 0px 2px white,
              inset 0 0 25px 10px hsl(hsl(var(--color-p)) / 0.2);
  transition: background-color 5000s ease-in-out 0s, box-shadow 3s ease;
}

form {
  flex: 1;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  font-family: inherit;
  color: hsl(var(--edge-color));
  background: hsl(var(--edge-color) / 0.1);
  border: none;
  padding: 0;
  cursor: pointer;
  white-space: nowrap;
  height: fit-content;
  border: 1px solid hsl(var(--edge-color));
  box-shadow: 0 0 0 0px inset hsl(var(--edge-color));
  transition: box-shadow 0.1s ease;
  border-radius: 5px;
}

button:hover {
  box-shadow: 0 0 0 1px inset hsl(var(--edge-color));
}
button:active {
  box-shadow: 0 0 20px 20px inset hsl(var(--edge-color));
  color: hsl(var(--text-active));
}

button > i {
  color: hsl(var(--edge-color));
  font-size: 1.5em;
}
button:active > i {
  color: inherit;
}

button > * + span {
  margin-left: 10px;
}

button:not([class]) {
  border-width: 0;
  box-shadow: none;
}
button:not([class]):hover:not(:active) {
  background: hsl(var(--edge-color) / 0.2);
  box-shadow: none;
}

button.fit {
  border-width: 1px;
  padding: 0 10px;
  height: 2em;
}

button.fat {
  font-size: 1.1em;
  border-width: 1px;
  padding: 0 20px;
  height:4em;
}

button.angry {
  --edge-color: 0 90% 50%;
  /* --text-active: darkred; */
}

button.happy {
  --edge-color: 0 0% 100%;
  background: hsl(var(--color-p));
  --text-active: hsl(var(--color-p));
}

button.caution {
  --edge-color: 40 90% 50%;
}

button.sleeping {
  --edge-color: var(--grayx) 90%;
}

button.dismiss {
  --edge-color: var(--grayx) 60%;
  border: none;
  background: none;
}

i.switch:after {
  content: var(--icon1);
}
i.switch:hover:after {
  content: var(--icon2);
}

label:has(input) {
  cursor: pointer;
}

/* */


#app-body {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: var(--gray1)
}

.form-message {
  color: hsl(var(--color-p));
  font-style: italic;
  text-align: center;
  height: 2.4em;
  transition: height 0.2s ease;
  overflow: hidden;
}
.form-message:empty {
  height: 0em;
}
.form-message.error {
  color: red;
}
.form-message.warn {
  color: orange;
}

/* modules */

.module-page {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card {

}

.profile {
  --grid-gap: 10px;
  --min-w: 400px;
  grid-auto-flow: column;
}

.button-chain button,
.button-chain .button {
  margin: 0;
  margin-left: 0;
  border-radius: 0;
}

.button-chain.row button,
.button-chain.row .button {
  border-width: 1px 0.5px;
}
.button-chain.row > button:first-child,
.button-chain.row > *:first-child > button,
.button-chain.row > .button:first-child {
  border-left-width: 1px;
  border-top-left-radius: 5px;
  /* border-top-right-radius: 0px; */
  /* border-bottom-right-radius: 0px; */
  border-bottom-left-radius: 5px;
}
.button-chain.row > button:last-child,
.button-chain.row > *:last-child > button,
.button-chain.row > .button:last-child {
  border-right-width: 1px;
  /* border-top-left-radius: 0px; */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border-bottom-left-radius: 0px; */
}

.button-chain.column button,
.button-chain.column .button {
  border-width: 0.5px 1px;
}
.button-chain.column > button:first-child,
.button-chain.column> *:first-child > button,
.button-chain.column > .button:first-child {
  border-top-width: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /* border-bottom-right-radius: 0px; */
  /* border-bottom-left-radius: 0px; */
}
.button-chain.column > button:last-child,
.button-chain.column > *:last-child > button,
.button-chain.column > .button:last-child {
  border-bottom-width: 1px;
  /* border-top-left-radius: 0px; */
  /* border-top-right-radius: 0px; */
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}



/************************* NAVBAR *************************/

#nav-base {
  position: relative;
  width: 40px;
  height: 100%;
}

.menu-header {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.app-logo {
  flex: 1;
  font-size: 32px;
  cursor: default;
  font-family: 'Berkshire Swash';
}

.profile-button {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--primary);
  box-shadow: 0 0 0px 1px white;
  transition: box-shadow 0.1s ease;
  cursor: pointer;
  user-select:none;
  --edge-color: white;
}
.profile-button:hover {
  box-shadow: 0 0 0px 5px white;
}

.main-menu-panel {
  position: absolute;
  overflow: hidden;
  z-index: 1000;
  /* background: hsl(var(--color-p)); */
  background-image: linear-gradient(140deg, hsl(var(--color-p)) 100px, var(--color-c3) 500px);
  display:flex;
  flex-direction:column;
  height: 100%;
  width: 40px;
  color: white;
  transition: width 0.1s ease;
}
.main-menu-panel.expanded {
  width: 250px;
  box-shadow: var(--shadow1);
}

.menu-options {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex:1;
}

.menu-item {
  font-size: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  background-size: 0px 0px;
  background-repeat: no-repeat;
  background-image: radial-gradient(white 50%, transparent 51%);
  background-position: center;
  transition: all 0.15s ease;
}
.expanded .menu-item {
  background-image: linear-gradient(white, white);
  background-size: 0% 40px;
  background-position: left;
}

.fancy .menu-item i {
  margin: 10px
}

.menu-options .spacer {
  flex: 1;
}

.menu-item button {
  --b-alp: 0;
  margin:0;
  padding: 0 5px;
}

.menu-item:hover {
  /* background: white; */
  color: hsl(var(--color-p));
  background-size: 40px 40px;
}

.expanded .menu-item:hover {
  background-size: 100% 40px;
}

.main-menu-panel.expanded .app-full-title {
  opacity: 1;
}

.app-full-title {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.user-menu {
  background: var(--p-fade);
}

.user-menu .menu-item {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 0;
  font-size: 1em;
  justify-content: right;
  white-space: nowrap;
}

.user-menu .menu-item i {
  margin-left: 10px;
  font-size: 1.25em;
}

.expanded .user-menu .menu-item {
  transition: height 0.2s ease;
  transition-delay: 0.2s;
  height: 40px;
  padding: 0 15px;
}



/************************* DRAG-N-DROP *************************/

.drop-container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  /* height: 100%; */
  border-radius: 7px;
  transition: all 0.2s ease;
  /* backdrop-filter: blur(2px); */
}

.lineup-manager .drop-container {
  background: var(--gray2);
  color: hsl(var(--color-p));
  height: 0px;
}
.lineup-manager .drop-container.can-drop {
  border: 1px solid white;
}
.lineup-manager .drop-container.is-over {
  background: var(--gray3);
}

.lineup-manager .drop-children {
  height: 0px;
  overflow: hidden;
}
.lineup-manager .is-over > .drop-children {
  height: auto;
  overflow: visible;
}

.lineup-manager :not(.drop-children) > .drop-container.can-drop {
  height: 200px;
}

.full-roster .drop-container.can-drop {
  background: hsl(0, 90%, 60%);
  color: var(--gray0);
  height: 75px;
}
.full-roster .drop-container.can-drop.is-over {
  background: hsl(0, 90%, 70%);
}

.dc-name { display: none }

.can-drop .dc-name {
  display: block;
  font-size: 1.25em;
  font-weight: 700;
  text-shadow: 0 0 5px 15px white;
  margin: 10px;
}

.lineup-manager .drop-container > .drop-children {
  position: absolute;
  width: 100%;
  top: 100px;
  display: flex;
}

.lineup-manager .can-drop.is-over > .drop-children > .drop-container {
  height: 200px;
}

[draggable="true"]:hover {
  cursor: all-scroll;
}

.collapsible {
  overflow: hidden;
  transition: all 0.2s ease;
}

.link-text {
  color: hsl(var(--color-p));
  cursor: pointer;
}
.link-text:hover {
  text-decoration: underline;
}
.link-text:visited {
  color: hsl(var(--color-h3));
}


/* controls */

fieldset {
  padding: 10px;
  margin: 20px;
  height: fit-content;
  border: none;
}

legend {
  color: hsl(var(--mintx) 50%);
  font-weight: 900;
  font-size: 1.5em;
}

fieldset.tall {
  height: 100%;
}

fieldset.card-set {
  overflow-y: scroll;
  flex: 1;
  height:100%;
}

fieldset.buttons {
  display: flex;
  flex-direction: column;
  flex: none;
  border: none;
  padding: 0;
  box-shadow: none;
  background: transparent;
}

fieldset.buttons > legend {
  color: var(--gray7);
  font-weight: normal;
  margin-bottom: 3px;
  font-size: 0.8em;
}

.button-stack {
  display: flex;
  flex-direction: column;
}

.vform {
  width: 100%;
  flex: 1;
}

.status-icon {
  font-size: 1.5em;
  margin-top: 25px;
}

.submenu {
  position: relative;
}

.submenu .drop-down {
  position: absolute;
  right: 0%;
  border: 1px solid var(--gray4);
  box-shadow: var(--shadow1);
}

.menu-option {
  padding: 5px;
  background: var(--gray2);
  font-size: 0.75em;
  white-space: nowrap;
  max-width: 140px;
  min-width: 80px;
  overflow: hidden;
}
.menu-option ~ .menu-option {
  border-top: 1px solid var(--gray4);
}
.menu-option:hover {
  background: white;
}

.filter-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.filter-container > .filters {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
  align-items: center;
}

.filter-button {
  height:auto;
}
.filter-button input {
    display: none;
}

.filter-container-content {
  flex:1;
  overflow: hidden;
}

.carousel-title {
  
}

.carousel-content {
  overflow: hidden;
  display:flex;
}

.card-tray {
  flex:1;
  position: relative;
}
.card-slider {
  position: absolute;
  width: 100%;
  transition: top 0.25s ease;
}

.carousel-control {
  width: 10px;
  display: flex;
  justify-content: space-around;
  font-size: 11px;
  margin:5px;
}

.carousel-control.vertical {
  flex-direction: column;
}

.contact-card {
  display:flex;
  flex-direction: column;
}



/************************* PROFILE CARDS *************************/

.card-container {
  /* flex: 1; */
  border-radius: 15px;
  display: flex;
  border: 1px solid var(--gray4);
  width: auto;
  min-width: 200px;
  background-color: white;
  cursor: pointer;
  padding: 0.75em;
  --edge-color: var(--mintx) 60%;
  transition: border 0.2s ease;
}
.card-container:hover {
  border-color: var(--color-c1);
}
.card-container:active {
  border-color: var(--color-moss);
}

.card-container.dragable {
  cursor: all-scroll;
}

.card-caption {
  flex: 1;
  font-size: 1.25em;
}

.card-name {
  display: flex;
  /* font-weight: 700; */
}

.card-subtitle {
  color: var(--color-c2);
  font-style: italic;
  font-size: 0.8em;
}

.hero-text {
  padding: 20px 0;
  font-size: 2.5em;
  font-family: var(--brand-font);
}

.hero-icon {
  height: var(--hero-size);
  width: var(--hero-size);
  min-width: var(--hero-size);
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}

.hero-initials {
  display: flex;
  height: 100%;
  width: 100%;
  align-items:center;
  justify-content:center;
  color: var(--text1);
  font-size: calc(var(--hero-size) * 0.35);
  background-image: linear-gradient(120deg, lch(73 74.58 62.82) 20%, lch(46 73.56 7.6) 100%);
}

.card-container.basic {
  justify-content: space-between;
  --hero-size: 40px;
}

.card-container.dark {
  margin: 1px;
  border: none;
  background-image: linear-gradient(226deg, hsl(var(--color-h3) / 0.1) 10%, hsl(var(--color-h3) / 0.25) 70%);
  box-shadow: 0px -1px 2px -1px inset var(--color-c3);
}

.card-container.profile {
  flex-direction: column;
  --hero-size: 100px;
}
.card-container.profile > .card-header {
  flex-direction: column;
}

.card-container.mini {
  --hero-size: 25px;
}

.card-container.selected {
  border-color: var(--color-c2);
  border-left-width: 15px;
}

.card-header {
  display: flex;
  align-items: center;
  padding: 5px;
  overflow: hidden;
}

.hero-icon.cold {
  background: gray;
}
.card-name.cold {
  color: gray;
}

.card-body {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 5px;
}


/************************* TAB CONTROL *************************/

.tab-wrapper {
  flex:1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.tab-row {
  display: flex;
  border-style: solid;
  border-color: var(--gray3);
  border-width: 0 0 1px 0;
  padding: 10px 0;
}
.vertical > .tab-row {
  flex-direction: column;
  border-width: 0 1px 0 0;
  padding: 10px 10px 0 0;
}

.tab {

}

.tab-page {
  flex: 1;
  display: flex;
  overflow: hidden;
}
.tab-page.vert {
  flex-direction: column;
}

.tab-button {
  flex: 0 1 200px;
  color: var(--text2);
  text-align: center;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: none;
  white-space: nowrap;
  margin-right: 3px;
}
.tab-button:not(.active):hover {
  background: var(--gray2);
}

.vertical > .tab-row > .tab-button {
  flex-basis: 2em;
}

.tab-wrapper.accordion {
  display: flex;
  flex-direction: column;
}

.accordion-tab {
  flex: 0;
  transition: all 0.15s ease;
}
.accordion-tab.active {
  flex: 1;
}

.accordion-tab > .tab-button {
  flex:none;
  box-shadow: none;
  border-style: solid;
  border-color: var(--color-c3);
  border-width: 0 0 1px 0;
  border-radius: 0;
  padding: 20px;
}
.accordion-tab > .tab-button.active {
  border-color: var(--color-moss);
  color: var(--color-moss);
  padding: 20px;
  font-size: 1.1em;
}

.tab-wrapper.large > .tab-row > .tab-button {
  padding: 10px 15px;
}

.tab-wrapper:not(.accordion) .tab-button.active {
  box-shadow: 0 0 0px 1px inset var(--mint6);
  color: var(--mint6);
}
.tab-wrapper:not(.accordion) .tab-button.active:hover {
  box-shadow: 0 0 0px 2px inset var(--mint6);
}

.tab-wrapper.filters .tab-row {
  padding: 5px;
  background-image: none;
}

.filters .tab-button {
  border-radius: 20px;
  flex: 0 1;
  box-shadow: 0 0 0px 1px inset var(--gray3)
}

.filters .tab-button.active {
  background: white;
  box-shadow: 0 0 0px 1px inset hsl(var(--color-p));
  /* border-color: hsl(var(--color-p)); */
}

.tab-wrapper.filters .tab-page {
  background: transparent;
  padding: 0;
}

.sub-nav .tab-button {
  color: var(--color-c2);
}
.sub-nav .tab-button:hover {
  color: var(--text2);
}

.sub-nav .tab-button.active:hover {
  color: var(--color-c1);
}

/************************* CALENDAR *************************/

.grid-calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(100px, auto));
  grid-gap: 0;
  margin: 5px 0;
  flex: 1;
}

.cal-day {
  background: var(--gray1);
  border: 1px solid transparent;
  border-radius: 5px 15px 5px 5px;
  overflow: hidden;
  color: gray;
  box-shadow: 0 0 4px -2px gray;
  margin: 2.5px;
  transition: margin 0.15s ease;
}

.cal-day.current-month {
  background: white;
  color: var(--color-c2);
  font-weight: 700;
}
.cal-day.past {
  color: var(--gray4);
}

.cal-day:hover {
  border: 1px solid var(--color-c2);
  margin: 0;
}

.cal-day-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 9px;
  text-align: right;
}

.date-button {
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 1px;
  min-width: 1.5em;
}
.date-button:hover {
  border-color: hsl(var(--color-p));
  cursor: pointer;
}

.today .cal-day-header {
  background: var(--color-c2);
  color: white;
}
.today .date-button:hover {
  border-color: white;
}

.event-node {
  flex: 1;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  border-radius: 7px;
  padding: 5px 10px;
  margin: 2px 2px 0;
  font-size: 0.75em;
  cursor: pointer;
  --node-color: hsl(var(--color-p));
  border-color: var(--node-color);
  color: var(--node-color);
  transition: all 0.2s ease;
}
.event-node.model {
  font-size: 1em;
  padding: 10px;
}
.event-node:hover {
  box-shadow: 20px 0 0 -10px inset var(--node-color), -20px 0 0 -10px inset var(--node-color);
  padding-left: 15px;
  padding-right: 15px;
}

.event-node.model > i {
  font-size: 1.25em;
}

.dayspan-start {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 0;
  margin-right: 0;
}

.dayspan-mid {
  border-radius: 0;
  border-right-width: 0;
  border-left-width: 0;
  margin-left: 0;
  margin-right: 0;
}

.dayspan-end {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
  margin-left: 0;
}

.sub-nav {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.nav-title {
  color: var(--text1);
  padding: 20px 20px 0 20px;
  font-size: 1.5em;
  font-family: var(--brand-font);
}

#popout-tab-button {
  position: absolute;
  top: -1px;
  right: 100%;
  border-color: var(--gray4);
  border-style: solid;
  border-width: 1px 0 1px 1px;
  border-radius: 20px 0 0 20px;
  padding: 10px 5px 10px 10px;
  background: var(--gray2);
  cursor: pointer;
}

.day-button {
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 1px;
  width: 1.6em;
}

.day-button:hover {
  border: 1px solid;
}


/************************* COMPOSER *************************/

.composer-textbox {
  flex: 1;
  border: 1px solid transparent;
  border-radius: 3px;
  background: white;
  margin: 5px;
  /* overflow-y: scroll; */
}

.composer-toolbar {
  display: flex;
  align-items: center;
  background: var(--mint4);
  /* border: 1px solid var(--gray2); */
  border-radius: 5px;
  padding: 2.5px 5px; /* in conjunction with child margins, allows for flex-wrap line spacing */
  overflow: hidden;
  --edge-color: var(--mintx) 70%;
}
.composer-toolbar > * {
  margin: 2.5px 5px 2.5px 0;
}

.rich-text-style-controls {
  display: flex;
}

.style-toggle-button {

}
.style-toggle-button.on {
  background: var(--mint5);
  color: white;
  box-shadow: none;
  outline-style: none;
}

.rich-text-style-controls > .style-toggle-button {
  flex: 1;
  height: 32px;
  width: 32px;
}

.rich-text-style-controls > .style-toggle-button > i {
  color: hsl(var(--color-s));
}

.composer-container {
  position: relative;
  background: var(--gray0);
  border: 1px solid var(--gray2);
  border-color: transparent transparent var(--gray2) transparent;
}
.composer-container:hover {
  border-color: var(--gray2);
}

.composer-container:focus-within {
  border-color: transparent;
}

.composer-container:focus-within .composer-textbox {
  border-color: var(--gray4);
}

.composer-container:focus-within .toolbar-wrapper,
.toolbar-wrapper:active {
  visibility:visible;
}

.toolbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 38px);
  background: var(--gray1);
  z-index: -10;
  border: 1px solid var(--gray3);
  visibility: hidden;
}

.toolbar-wrapper > section {
  position: absolute;
  align-items: end;
  bottom: 0px;
}

#broadcast-drafter {
  overflow-y: scroll;
  background: var(--gray1);
  border: 1px solid var(--gray3);
  margin-top: 5px;
  transition: all 0.1s ease;
}

.broadcast-list-button {
  
}

.card-header > i {
  margin: auto 10px;
  font-size: 1.25em;
}

.broadcast-status {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.broadcast-status > .subject {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.broadcast-status > .date {
  color: var(--mint6);
  font-size: 0.9em;
}

.module-wrapper {
  position: relative;
  z-index: 1;
}

.module-menu {
  position: absolute;
  z-index: 10;
  right: 5px;
  top: calc(50% - 2.5em);
  opacity: 0;
  transition: opacity 0.2s ease;
  font-size:0.75em;
  --edge-color: hsl(var(--color-s));
}
.module-wrapper:hover .module-menu {
  opacity: 1;
}
.module-wrapper:has(.composer-textbox:focus-within) .module-menu {
  display: none;
}
.module-wrapper:first-child .up,
.module-wrapper:nth-last-child(2) .down {
  --edge-color: hsl(0, 0%, 90%);
  background: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 75%);
}
.module-wrapper:first-child .up > i,
.module-wrapper:nth-last-child(2) .down > i {
  cursor: default;
  
}

.module-dropper-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 0px;
  border: none;
  color: var(--gray5);
  background: var(--gray1);
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.1s ease
}

.is-over > .drop-children > .module-dropper-box {
  margin: 5px;
  height: 60px;
  border: 1px dashed var(--gray3);
}
.dragging .toolbar-wrapper {
  opacity: 0;
}

.contacts-manager {
  width: 100%;
}








.verify-base {
  position: relative;
}

.verify-base > * {
  transition: all 0.2s ease;
}

.verify-base > .top-button {

}

.bottom-button {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 100%;
  overflow: hidden;
}

.reveal > .bottom-button {
  width: min-content;
}

.collapser-wrapper {
}

.collapser-wrapper.hide-dead-ends:not(:has(.terminus)) {
  display: none;
}

.collapser-content {
  padding-left: 1.5em;
}

.collapsed .collapser-node {
  height: 0;
  min-height: 0;
  margin: 0;
  border-width: 0;
}

.collapser-node {
  display: flex;
  border-radius:3px;
  border-style: solid;
  border-color: var(--color-c2);
  border-width: 0;
  background: hsl(var(--color-h2)/0.05);
  height: var(--node-height);
  min-height: var(--node-height);
  margin-top: 1px;
  border-width: 0.5px;
  overflow: hidden;
  transition: all 0.2s ease;
  align-items: center;
}
.collapser-node > i {
  font-size: 1.5em;
}
.collapser-node > i.expander {
  color: var(--color-c2);
}
.collapser-node > i.all {
  color: hsl(var(--color-p));
}
.collapser-node > i.some {
  color: hsl(var(--color-h3)/0.5);
}
.collapser-node > i.none {
  color: var(--gray3);
}

.collapser-node:not(.terminus) .expander {
  cursor: ns-resize;
}

.collapser-node > span {
  margin: auto 0;
  white-space: nowrap;
}

.contact-section-label {
  color: var(--color-c2);
}

/* ############ Photo Component ############### */

.profile-photo-base {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height:100%;
  padding: 10px 5px 5px;
}

.profile-photo-base > img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;

}

.photo-backdrop {
  display: flex;
  border-radius: 7px;
  overflow: hidden;
  background: var(--gray3);
  color: var(--p-text);
  justify-content: center;
  align-items: center;
  color: var(--p-text);
  font-size: 2em;
  height:100%;
  flex:1;
  border: 1px solid var(--gray4);
  color: var(--color-c3);
}

.photo-backdrop > i {
  opacity: 0.5;
}

.settings-page {
  display: flex;
  height: 100%;
}