.modalHeader {
    background: var(--p-fill);
    font-size: 1.5em;
    color: white;
    padding: 10px;
    border-radius: 7px 7px 0 0;
}

.modalFields {
    flex: 1;
    display: flex;
    padding: 10px;
}

.modalField {
    width: 300px;
    margin:5px;
    display: flex;
    flex-direction: column;
}

.modalField > label {
    color: gray;
}

.modalField > input {
    border: none;
    background: hsl(0, 0%, 98%);
    padding: 5px;
}

.modalBackdrop {
    position: absolute;
    height: 100%;
    width: 100%;
    background: hsla(var(--p-hue), var(--p-sat), calc(var(--p-lum) / 3), 0.5);
    backdrop-filter: blur(2px);
}

.error {
    width: 100%;
    height: 100%;
    background: hsl(0, 90%, 60%);
    padding: 20px;
}