.profilePhotoBase {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height:100%;
    padding: 20px;
}

.profilePhotoBase > img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;

}

.photoBackdrop {
    display: flex;
    border-radius: 7px;
    overflow: hidden;
    background: var(--gray4);
    color: var(--p-text);
    justify-content: center;
    align-items: center;
    color: var(--p-text);
    font-size: 2em;
    height:100%;
    flex:1;
}

.photoBackdrop > i {
    opacity: 0.5;
}