.cardContainer {
    width:100px;
    border-radius: 15px;
    display: flex;
    flex-direction:column;
    border: 1px solid lightgray;
    width: auto;
    padding: 5px;
    margin:5px;
    box-shadow: 0px 2px 5px hsla(0, 0%, 0%, 0.1);
}

.cardContainer > * {
    margin: 5px;
}

.cardContainer:hover {
    cursor: pointer;

}

.cardName {
    display: flex;
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
}

.heroIcon {
    border-radius: 50%;
    background: var(--p-fill);
    display: flex;
    align-items:center;
    justify-content:center;
    color: var(--p-text);
}

.title {
    display: flex;

    align-items: center;
}