.status-blip {
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 110;
}

.status-blip-body {
    --blip-text-color: black;
    --blip-color: gray;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background: var(--blip-color);
    color: var(--blip-text-color);
    padding: 0.75em 1em;
    font-size: 1.15em;
    box-shadow: 1px 1px 5px var(--blip-text-color);
    transition: all 0.1s ease;
}
.status-blip-body.saving {
    --blip-text-color: hsl(45, 50%, 40%);
    --blip-color: hsl(45, 100%, 60%);
    cursor: progress;
}
.status-blip-body.loading {
    --blip-text-color: var(--color-c3);
    --blip-color: var(--color-c1);
    cursor: progress;
}
.status-blip-body.saved {
    --blip-text-color: var(--color-cactus);
    --blip-color: var(--color-moss);
    cursor: default;
    color: white;

}